{% set active_page = "Help" %}
{% set page_title = "Help" %}
{% extends "base.html" %}

{% block tabs %}
{{ components.tabs([("faq", "FAQ", "active")]) }}
{% endblock %}

{% block content %}
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <!-- FAQ -->
  <div
    class="tab-pane active"
    id="tab-faq"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    {{ components.section("Frequently Asked Questions") }}
    {{ components.faqgroup(FAQ) }}
  </div>
</div>
{% if config.chat_server %}
<div class="slp">
  <iframe id="frame" width="100%" src=""> </iframe>
</div>
<script type="text/javascript">
  function getUrlParameter(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
    var results = regex.exec(location.search);
    return results === null
      ? ""
      : decodeURIComponent(results[1].replace(/\+/g, " "));
  }

  $(document).ready(function () {
    console.log("run");
    var win_height;
    var frm_height;
    var oFrame = $("#frame");
    console.log(oFrame);
    // Get page height Firefox/IE
    if (window.innerHeight) win_height = window.innerHeight;
    else if (document.body.clientHeight)
      win_height = document.body.clientHeight;

    // Dtermine new height
    frm_height = 500;//win_height - oFrame.offset().top - 15; // replace 15 accordingly

    // Set iframe height
    oFrame.attr("height", frm_height + "px");

    oFrame.attr(
      "src",
      "https://{{config.chat_server}}/channel/help?layout=embedded"
    );
  });
</script>
{% endif %}
{% endblock %}
