{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 200px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="container" style="width: 50%;">
        <h3 class="text-center">Welcome Video from Silvia Chiappa</h3>
        <div id="presentation-embed"></div>
        <script src='https://slideslive.com/embed_presentation.js'></script>
        <script>
          embed = new SlidesLiveEmbed('presentation-embed', {
          presentationId: '38933223',
          autoPlay: false, // change to true to autoplay the embedded presentation
          verticalEnabled: false,
	  verticalWhenWidthLte: 500,
	  allowHiddenControlsWhenPaused: true,
	  hideTitle: true
          });
        </script>
    <br><br><br>
<h1> </h1>
</div>

{{ readme | markdown }}



<!-- Organizers -->
<br><br>
{{ components.section("Organizers") }}
{{ components.organizergroup(committee) }}


<br><br><br>
{{ components.section("Sponsors") }}
<!-- Sponsors -->
<p></p>
<center>
<h3><u>Silver Sponsors</u></h3><br>
  <table>
    <tr>
      <td align="center"> 
        <a href="https://www.deshaw.com"><img alt="DESCO" src="static/images/sponsors/Deshaw.jpg" width="300" /></a>
      </td>
    </tr>
  </table>
</center>
<br><br>
<center>
<h3><u>Bronze Sponsors</u></h3>
  <table>
    <tr>
      <td align="center"> 
        <a href="https://www.amazon.science/conferences-and-events/aistats-2020"><img alt="Amazon" src="static/images/sponsors/Amazon.png" width="300" /></a>
      </td>
      <td align="center">
        <a href="https://deepmind.com"><img alt="DeepMind" src="static/images/sponsors/DeepMind.png" width="300" /></a>
      </td>
    </tr>
    <tr>
      <td align="center">
        <a href="https://ai.facebook.com"><img alt="Facebook" src="static/images/sponsors/Facebook.png" width="300" /></a>
      </td>
      <td align="center">
        <a href="https://research.google"><img alt="Google" src="static/images/sponsors/Google.png" width="300" /></a>
      </td>
    </tr>
<!--       <tr>
      <td align="center">
        <a href="https://www.twosigma.com"><img alt="TwoSigma" src="static/images/sponsors/TwoSigma.jpg" width="300" /></a>
      </td>
    </tr>
<a href="https://research.google"><img alt="Google" src="static/images/sponsors/Google.png" width="300" /></a>
--!>
  </table>

</center>

{% endblock %}
