{% set active_page = "Mentoring" %}

{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy-bundle.umd.min.js"></script>

<script src="static/js/icons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

{% endblock %}

{% block content %}

<!-- Session -->
<div class="row d-none session_notice">
  <div
    class="alert alert-warning alert-dismissible fade show col-12"
    role="alert"
  >
    Showing mentors for
    <span id="session_name" style="font-weight: bold;"></span>.
    <button
      type="button"
      class="close remove_session"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<!-- Mentors -->
{{ components.section("Mentors") }}
{{ components.mentorgroup(mentors) }}


<script type="text/javascript">
function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

  var sess = getParameterByName("session");
  if(sess) {
  document.getElementById("mentor_session").innerHTML = "Showing mentoring session " + sess;
  for(var j = 1; j < 11; j++) {
    if(j!=sess) {
    var mentors = document.getElementsByClassName("mentorsess" + j);
    for(var i = 0; i < mentors.length; i++) {
      var mentor = mentors[i];
      mentor.style.display = 'none';
    }}
  }}
  else {
    document.getElementsByClassName("session_alert")[0].style.display = 'none';
}
</script>

<!-- Cards
<div class="cards row"></div>
<script src="static/js/little_helpers.js"></script>
<script src="static/js/lazy_load.js"></script>
<script src="static/js/persistor.js"></script>
<script src="static/js/mentors.js"></script>
<script>
  $(document).ready(function () {
    tippy("[data-tippy-content]", { trigger: "mouseenter focus" });
    start();
  });
</script>
-->
{% endblock %}
