{% set page_title = paper.content.title %}
{% extends "base.html" %}

{% block head %}

{{ super() }}
<meta name="citation_title" content="{{paper.content.title}}" />
{% for author in paper.content.authors %}
<meta name="citation_author" content="{{author}}" />
{% endfor %}
<meta name="citation_publication_date" content="{{config.citation_date}}" />
<meta name="citation_conference_title" content="{{config.tagline|striptags|title}}" />
<meta name="citation_inbook_title" content="{{config.proceedings_title}}" />
<meta name="citation_abstract" content="{{paper.content.abstract}}" />
{% for keyword in paper.content.keywords %}
<meta name="citation_keywords" content="{{keyword}}" />
{% endfor %}
<meta name="citation_pdf_url" content="{{paper.content.pdf_url | default("")}}" />

{% endblock %}

{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{paper.content.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {% for author in paper.content.authors %}
      <a href="papers.html?filter=authors&search={{author}}" class="text-muted"
        >{{author}}</a
      >{{ "," if not loop.last }}
      {% endfor %}
    </h3><br>
    <p class="card-text text-center">
      <u>Live Q&#38;A Times (Rocket.Chat)</u><br>
      {% for daytime in paper.content.qa_times %}
        <b><span class="posterTime">{{daytime}}</span></b><br>
      {% endfor %}
      <script type="text/javascript">
	var utcTimes = document.getElementsByClassName("posterTime");
	options = {weekday:'short', year: 'numeric', month:'short', day: 'numeric',hour:'2-digit', minute:'2-digit', timeZoneName: 'short'};
	for(var i = 0; i < utcTimes.length; i++) {
	  var utcTime = utcTimes[i];
	  timeParts = utcTime.innerHTML.split("-");
	  startTime = timeParts[0] + timeParts[1].trim() + " UTC";
	  //endTime = timeParts[0] + timeParts[2].trim() + " UTC";
          parsedTime = new Date(startTime);
          utcTime.innerHTML = parsedTime.toLocaleTimeString("en-US", options);
	}
      </script>
    </p>
    <div class="text-center p-3">
      <a class="card-link" data-toggle="collapse" role="button" href="#details">
        Abstract
      </a>
      <a class="card-link" target="_blank" href="{{paper.content.pdf_url}}">
        Paper
      </a>
      {% if paper.content.code != blank %}
      <a href="{{paper.content.code}}" target="_blank" class="card-link">
        Code
      </a>
      {% endif %}
    </div>
  </div>
</div>

<div id="details" class="pp-card m-3 collapse">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Abstract:</span>
        {{paper.content.abstract}}
      </div>
    </div>
    <p></p>
  </div>
</div>

<!-- Slides Live-->
{% if paper.content.has_slides == true %}

{{ components.section("Presentation") }}

<div class="col-md-12 col-xs-12 my-auto p-2" >
  <div id="presentation-embed" class="slp my-auto"></div>
  <script src='https://slideslive.com/embed_presentation.js'></script>
  <script>
    embed = new SlidesLiveEmbed('presentation-embed', {
    presentationId: '{{paper.presentation_id | default(config.default_presentation_id)}}',
    autoPlay: false, // change to true to autoplay the embedded presentation
    verticalEnabled: true,
    verticalWhenWidthLte: 500,
    allowHiddenControlsWhenPaused: true,
    hideTitle: true
    });
  </script>
</div>

{% else %}

{{ components.section("No presentation recorded by author(s)") }}

{% endif %}

<!-- Chat -->
{% if config.chat_server %}
{{ components.section("Q&A Chat") }}

<div class="col-md-12 col-xs-12 p-2">
  <div id="gitter" class="slp">
    <center>
      <iframe frameborder="0" src="https://{{config.chat_server}}/channel/paper_{{paper.id}}?layout=embedded" height="700px" width="100%" ></iframe>
    </center>
  </div>
</div>
{% endif %}

{% endblock %}
