{% set active_page = "Speakers" %}
{% set page_title = "Speakerss" %}
{% extends "base.html" %}

{% block content %}
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <div id="day">
    <!-- Speakers -->
    {{ components.section("Invited Speakers") }}
      <div class="speakers">
        {{ components.speakergroup(day.speakers) }}
      </div>
  </div>
</div>
{% endblock %}
