{% set page_title = speaker.title %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{speaker.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{speaker.speaker}} / {{speaker.institution}}
    </h3><br>
    <p class="card-text text-center">
      <u>Live Q&#38;A Times (Zoom)</u><br>
      {% for daytime in speaker.times.split(";") %}
        <b><a href="{{speaker.zoom}}" target="_blank"><span class="talkTime">{{daytime}}</span></a></b><br>
      {% endfor %}
      <script type="text/javascript">
	var utcTimes = document.getElementsByClassName("talkTime");
	options = {weekday:'short', year: 'numeric', month:'short', day: 'numeric',hour:'2-digit', minute:'2-digit', timeZoneName: 'short'};
	for(var i = 0; i < utcTimes.length; i++) {
	  var utcTime = utcTimes[i];
	  timeParts = utcTime.innerHTML.split("-");
	  startTime = timeParts[0] + timeParts[1].trim() + " UTC";
	  //endTime = timeParts[0] + timeParts[2].trim() + " UTC";
          parsedTime = new Date(startTime);
          utcTime.innerHTML = parsedTime.toLocaleTimeString("en-US", options);
	}
      </script>
    </p>
    <div class="text-center p-3">
      <a class="card-link" data-toggle="collapse" role="button" href="#details">
        Abstract & Bio
      </a>
    </div>
  </div>
</div>
<div id="details" class="pp-card m-3 collapse">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Abstract:</span>
        {{speaker.abstract|safe}} <br /><br />

        <span class="font-weight-bold">Bio:</span>
        {{speaker.bio|safe}}
      </div>
    </div>
    <p></p>
  </div>
</div>

<!-- Presentation Embed -->
<!-- Slides Live-->
{{ components.section("Presentation") }}

<div class="col-md-12 col-xs-12 my-auto p-2" >
  <div id="presentation-embed" class="slp my-auto"></div>
  <script src='https://slideslive.com/embed_presentation.js'></script>
  <script>
    embed = new SlidesLiveEmbed('presentation-embed', {
    presentationId: '{{speaker.presentation_id}}',
    autoPlay: false, // change to true to autoplay the embedded presentation
    verticalEnabled: true,
    verticalWhenWidthLte: 500,
    allowHiddenControlsWhenPaused: true,
    hideTitle: true
    });
  </script>
</div>

<!-- Chat -->
{% if config.chat_server %}
{{ components.section("Q&A Chat") }}

<div class="col-md-12 col-xs-12 p-2">
  <div id="gitter" class="slp">
    <center>
      <iframe frameborder="0" src="https://{{config.chat_server}}/channel/{{speaker.room}}?layout=embedded" height="700px" width="100%" ></iframe>
    </center>
  </div>
</div>
{% endif %}

{% endblock %}
